@{
    // See Views/Shared/_Layout.cshtml line 6 for why this is here.
    ViewData["Title"] = "Home";
}
<h3>Hello MVC</h3>
<p>Framework: @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.RuntimeFramework</p>
<p>@System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription @System.Runtime.InteropServices.RuntimeInformation.ProcessArchitecture @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.RuntimeFramework.Version</p>
<p>OS: @System.Runtime.InteropServices.RuntimeInformation.OSDescription @System.Runtime.InteropServices.RuntimeInformation.OSArchitecture</p>
